main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 20px;
}

.title span {
  color: #ec4899;
}

.description {
  margin: 0px 30px 30px 30px;
  font-size: 20px;
  text-align: center;
}

.description span {
  font-weight: bold;
}

.products-section {
  width: 100%;
}

@media (max-width: 700px) {
  .title {
    width: 100%;
    font-size: 32px;
    margin: 0px 10px 0px 10px;
  }

  .description {
    text-align: center;
    padding: 20px;
  }
}
