main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

.title span {
  color: #ec4899;
}

.description {
  margin: 10px 30px 30px 30px;
  font-size: 20px;
  text-align: center;
}

.description span {
  font-weight: bold;
}

.products-section {
  width: 100%;
}

@media (max-width: 600px) {
  .title {
    width: 100%;
    font-size: 35px;
  }

  .description {
    text-align: center;
    padding: 20px;
  }
}
